extends layout

block content
	div.container(class='top-bot-space')
		-	for (var x = 0; x < alumniBrothers.length; x+=3)
			if ((x % 3) === 0)
				div.row
					div.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0(class='top-bot-space-sm')
						div
							img.img-responsive(src=alumniBrothers[x].company.logo)
						strong
							p(class='quote')
								em
									q #{alumniBrothers[x].why} #{alumniBrothers[x].experience}
							p(class='author text-right') - <a target='_blank' href=#{alumniBrothers[x].linkedin}>#{alumniBrothers[x].name}</a>, #{alumniBrothers[x].class}
								br
								| #{alumniBrothers[x].company.title}, #{alumniBrothers[x].company.name}
					if alumniBrothers[x + 1]
						div.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0(class='top-bot-space-sm')
							div
								img.img-responsive(src=alumniBrothers[x + 1].company.logo)
							strong
								p(class='quote')
									em
										q #{alumniBrothers[x + 1].why} #{alumniBrothers[x + 1].experience}
								p(class='author text-right') - <a target='_blank' href=#{alumniBrothers[x + 1].linkedin}>#{alumniBrothers[x + 1].name}</a>, #{alumniBrothers[x + 1].class}
									br
									| #{alumniBrothers[x + 1].company.title}, #{alumniBrothers[x + 1].company.name}
					if alumniBrothers[x + 2]
						div.col-xs-10.col-xs-offset-1.col-sm-4.col-sm-offset-0(class='top-bot-space-sm')
							div
								img.img-responsive(src=alumniBrothers[x + 2].company.logo)
							strong
								p(class='quote')
									em
										q #{alumniBrothers[x + 2].why} #{alumniBrothers[x + 2].experience}
								p(class='author text-right') - <a target='_blank' href=#{alumniBrothers[x + 2].linkedin}>#{alumniBrothers[x + 2].name}</a>, #{alumniBrothers[x + 2].class}
									br
									| #{alumniBrothers[x + 2].company.title}, #{alumniBrothers[x + 2].company.name}

	div.container-fluid(class='parallax-window', data-parallax='scroll', data-image-src='/assets/images/banners/min/akpsi-delta-omicron-chapter-csulb-alumni-wide.jpg', data-position='center', data-natural-width='1920', data-natural-height='900', style={'height':'60%'})