extends layout

block content
	.container(class='top-bot-space')
			- for(var x = 0 ; x < activeBrothers.length; x+=2)
				if ((x % 2) === 0)
					div.row(class='top-space')
						div.col-xs-12.col-sm-3(class='text-center')
							h3 #{activeBrothers[x].name}
							img.img-responsive(src=activeBrothers[x].img, alt=activeBrothers[x].name)
						div.col-xs-12.col-sm-3(class='biographies')
							p <strong>Class</strong>: #{activeBrothers[x].class}
							P <strong>Position(s)</strong>: #{activeBrothers[x].position}
							p <strong>Year of Graduation</strong>: #{activeBrothers[x].year}
							p <strong>Major</strong>: #{activeBrothers[x].major}
							p <strong>Why did you join AKPsi</strong>: #{activeBrothers[x].why}
							p <strong>Hobbies/Fun Facts</strong>: #{activeBrothers[x].fact} 
						if activeBrothers[x + 1]
							div.col-xs-12.col-sm-3(class='text-center')
								h3 #{activeBrothers[x + 1].name}
								img.img-responsive(src=activeBrothers[x + 1].img, alt=activeBrothers[x + 1].name)
							div.col-xs-12.col-sm-3(class='biographies')
								p <strong>Class</strong>: #{activeBrothers[x + 1].class}
								P <strong>Position(s)</strong>: #{activeBrothers[x + 1].position}
								p <strong>Year of Graduation</strong>: #{activeBrothers[x + 1].year}
								p <strong>Major</strong>: #{activeBrothers[x + 1].major}
								p <strong>Why did you join AKPsi</strong>: #{activeBrothers[x + 1].why}
								p <strong>Hobbies/Fun Facts</strong>: #{activeBrothers[x + 1].fact}

	include ./includes/backtotop.pug
	include ./includes/footer.pug
	include ./includes/scripts.pug