extends layout

block content
	div.container(class='top-bot-space text-center')
		div.row(class='top-space-sm')
			- for (var x = 0; x < executiveBoard.length; x++)
				if ((x % 4) === 0)
					div.col-xs-6.col-sm-3.col-lg-2.col-lg-offset-2
						div
							img.img-responsive.headshot(src=executiveBoard[x].img, alt=executiveBoard[x].name)
							spam #{executiveBoard[x].name}
							br
							spam #{executiveBoard[x].position}
				else 
					div.col-xs-6.col-sm-3.col-lg-2
						div
							img.img-responsive.headshot(src=executiveBoard[x].img, alt=executiveBoard[x].name)
							span #{executiveBoard[x].name}
							br
							spam #{executiveBoard[x].position}


