doctype html
html(lang='en')
	head

		title= title

		meta(name='google-site-verification', content='YUh0zVrRezkqZlm-dvcYp-IEkzdZOrLyO5ysRlIinv4')
		meta(name='description', content='The Official Website of Alpha Kappa Psi Delta Omicron Chapter of California State University, Long Beach')
		meta(name='keywords', content='CSULB, AKPsi, Delta, Omicron, Chapter')
		meta(name='author', content='Derrick Nguyen')
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		include ./includes/styles
		if pathname === '/recruitment' || pathname === '/contact'
			<script src="https://npmcdn.com/react@15.3.0/dist/react.min.js"></script>
			<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>

	body(class='montserrat')
		noscript(style='color:red') 
			div.container(class='text-center') **Please enable JavaScript to view full effect of website! 

		div.container-fluid(class='parallax-window home', data-parallax='scroll', data-image-src=parallaxUrl, data-position=backgroundPosition, data-natural-width=imgWidth, data-natural-height=imgHeight, style={'height':height})
			nav.navbar
				div.container-fluid
					div.navbar-header
						button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#nav')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') CSULB AKPSI
					div#nav.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.active
								a(href='/about') ABOUT
							li.active.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') BROTHERS
									span(class='caret')
								ul.dropdown-menu
									li.active
										a(href='/brothers') Active Brothers
									li.active
										a(href='/brothers/biographies') Biographies
									li.active
										a(href='/brothers/alumni') Alumni
							li.active
								a(href='/recruitment') RECRUITMENT
							li.active
								a(href='/contact') CONTACT
			div.title(class='text-center open-sans')
				h1 #{header}
				h2 #{subheader}

			if pathname === '/'
				div.container-fluid.social
					div.row
						div.col-md-12
							ul.social
								li.facebook
									a(href='https://www.facebook.com/csulb.akpsi', target='_blank')
										i.fa.fa-facebook-square.fa-lg
								li.instagram
									a(href='https://www.instagram.com/csulbakpsi', target='_blank')
										i.fa.fa-instagram.fa-lg
								li.twitter
									a(href='https://twitter.com/csulbakpsi', target='_blank')
										i.fa.fa-twitter-square.fa-lg

		block content

		if pathname === '/'
			include ./includes/scripts.pug
		else if pathname === '/contact'
			include ./includes/footer.pug
			include ./includes/scripts.pug
		else
			include ./includes/backtotop.pug
			include ./includes/footer.pug
			include ./includes/scripts.pug